/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require select2
 *= require bootstrap.min
 *= require_self
 */

 @font-face {
 	font-family: 'Panforte Pro';
 	src:font-url('/assets/fonts/10660.ttf');
 	font-weight: normal;
 	font-style: normal;
 }

 .header{
 	font-family: 'Panforte Pro';
 	display: flex;
 	flex-flow: row wrap;
 	vertical-align: bottom;
 	text-align: center;
 	background: #337ab7; 
 }

 .header h1{
 	font-weight: bolder;
 	color: white;
 	width: 95%;
 }

 #showTC {
 	font-size: 40pt; 
 	font-weight: 200;
 	color: white;
 	width: 4.99%;
 	color: #fff;
 	text-decoration: none;
 	user-select: none; 
 	background: #337ab7; 
 	outline: none;
 } 
 #showTC:hover { font-weight: 600; } 
 #showTC:active { font-weight: 900; } 

 .row-flex {
 	font-family: 'Panforte Pro';
 	display: flex;
 	flex-flow: row wrap;
 }

 .todo {
 	font-weight: bold; 
 	margin: 5px;
 	-webkit-box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.68);
 	-moz-box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.68);	
 	box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.68);
 }

 .todo h2{
 	font-weight: lighter; 
 }

 #parentNewTodo {
 	font-family: 'Panforte Pro';
 	background: #000;
 	height: 100%;
 	opacity: 0.9;
 	position: fixed;
 	width: 100%;
 	top: 0;
 	left: 0;
 }

 #newTodo {
 	position: relative;
 	top: 30%;
 	height: 40%;
 	width: 30%;
 }

 .select2-selection, .select2-selection__rendered, .select2-selection__arrow {

 	height: 40px !important;

 	span {

 		line-height: 40px !important;

 		text-align: left;

 	}

 }

 .select2-selection {

 	border-radius: 0 !important;

 }